/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgba(var(--color-primary-rgb), 1);
  font-family: var(--font-primary);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--color-links);
  text-decoration: none !important;
  cursor: pointer;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

#main {
  margin-top: 90px;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
  scroll-margin-top: 70px;
}

.section-header {
  border-bottom: 2px solid var(--color-black);
}

.section-header h2 {
  font-size: 50px;
  color: var(--color-black);
}

.section-header p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Page title
--------------------------------------------------------------*/
.page-title {
  font-size: 70px;
  color: var(--color-black);
}

/* Form Input Fieldds */
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--color-black);
}

/* Botton */
.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

/*--------------------------------------------------------------
# Not Found Page
--------------------------------------------------------------*/

.not-found {
  padding: 0;
  background: url('../../public/assets/img/not-found-bj.jpg');
  background-position: center;
  background-size: cover;
}
.cover-background {
  position: relative !important;
  background-size: cover !important;
  overflow: hidden !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.p-0 {
  padding: 0 !important;
}

.justified-paragraph {
  text-align: justify;
}

.error-page {
  background-color: #bababa4a;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(234, 234, 235, 0.2);
  padding: 80px 20px;
}
.text-center {
  text-align: center !important;
}
.error-page h1 {
  font-size: 200px;
  line-height: 1;
  font-weight: 600;
}
.text-secondary {
  color: #15395a !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

/* posts.css */

/* Container defaults */
.container {
  width: 90%;
  margin: 0 auto;
  /* padding: 20px; */
  
}

.image-container {
  display: flex;
  justify-content: center;
  /* padding: 20px; */

}

.styled-figure {
  display: inline-block;
  text-align: center;
  max-width: 600px;
  border: none;
  padding-left:55%;
}


.img-fluid {
  width: 100%; /* Ensures responsiveness */
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

figcaption {
  font-style: italic;
  color: #333;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* For mobile screens */
@media (max-width: 767px) {
  .styled-figure {
    max-width: 90%;
    padding: 15px;
  }

  figcaption {
    font-size: 16px;
  }
}
